.routes-content {
	width: calc(100% - 200px);
	height: 100%;
	float: right;
	padding: 1.1rem 0.1rem 0rem 1.1rem;
	background-color: rgb(243, 247, 250);
}

@media (max-width: 768px) {
	.routes-content {
		width: 100%;
		padding: 1.1rem;
	}
}


@media(min-width:1440px){
	.routes-content{
		height:100vh;
	}
}